<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Shapes</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1047</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Park</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1048</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>State Park</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1049</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Natl Park</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1050</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>State</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1053</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Country</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1054</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Military</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1055</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Stadium</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1057</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Shoreline</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1058</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Railroad Station</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1059</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Shopping Ctr</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1060</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Hospital</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1061</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Employment Ctr</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1062</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Campground</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1063</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Federal Land</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1064</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Natl Grassland</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1069</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Wildlife Refuge</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1070</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Natl Seashore</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1071</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Wilderness Area</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1072</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Reservoir</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1073</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Marsh</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1074</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Glacier</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1075</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Runway</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1078</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Points</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1547</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Park</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1548</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>State Park</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1549</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Natl Park</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1550</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>Airport</string>
			<key>Key</key>
			<string>category_1587</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Park</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1588</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>State Park</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1589</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Natl Park</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1590</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>State Capital</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1606,1607,1608,1609,1610,1611</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Runway</string>
			<key>Type</key>
			<string>Country Capital</string>
			<key>Key</key>
			<string>category_1612,1613,1614,1615,1616,1617</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Campground</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1700</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Religious Inst</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1703</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>County Home</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1704</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Employment Ctr</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1706</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Federal Land</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1707</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Chamber of Comm</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1718</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Dam</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1725</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Firehouse</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1726</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Natl Grass Land</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1727</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Wildlife Refuge</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1728</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Natl Park Svc</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1729</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Natl Sea Shore</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1730</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Wilderness Area</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1731</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Indian Reservation</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1732</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Police Station</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1733</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Post Office</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1734</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Marsh</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1735</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Bus Terminal</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1750</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Train Station</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1751</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>School</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1752</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Hospital</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1753</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Monument</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1754</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Marina</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1755</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Stadium</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1756</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Convention Ctr</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1757</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Civic Ctr</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1758</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Ferry Plaza</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1759</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Museum</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1760</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Library</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1761</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>City Hall</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1763</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Courthouse</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1764</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Rest Area</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1765</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Tourist Attraction</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1770</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Bank</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1774</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Theater</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1775</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Prison</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1708</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Government Ctr</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1709</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Military Installation</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1711</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Nursing Home</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1712</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Orphanage</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1713</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Shelter / Mission</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1078</string>
			<key>DefaultValue</key>
			<true/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
