<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key></key>
		<string></string>
		<key>ACTIVE</key>
		<string></string>
		<key>ID</key>
		<string>1047</string>
		<key>NAME</key>
		<string>AIRPORT</string>
	</dict>
	<dict>
		<key></key>
		<string></string>
		<key>ACTIVE</key>
		<string></string>
		<key>ID</key>
		<string>1048</string>
		<key>NAME</key>
		<string>PARK</string>
	</dict>
	<dict>
		<key></key>
		<string></string>
		<key>ACTIVE</key>
		<string></string>
		<key>ID</key>
		<string>1049</string>
		<key>NAME</key>
		<string>STATEPARK</string>
	</dict>
	<dict>
		<key></key>
		<string></string>
		<key>ACTIVE</key>
		<string></string>
		<key>ID</key>
		<string>1050</string>
		<key>NAME</key>
		<string>NATIONALPARK</string>
	</dict>
	<dict>
		<key></key>
		<string></string>
		<key>ACTIVE</key>
		<string></string>
		<key>ID</key>
		<string>1052</string>
		<key>NAME</key>
		<string>COUNTY</string>
	</dict>
	<dict>
		<key></key>
		<string></string>
		<key>ACTIVE</key>
		<string></string>
		<key>ID</key>
		<string>1053</string>
		<key>NAME</key>
		<string>STATE</string>
	</dict>
	<dict>
		<key></key>
		<string></string>
		<key>ACTIVE</key>
		<string></string>
		<key>ID</key>
		<string>1054</string>
		<key>NAME</key>
		<string>COUNTRY</string>
	</dict>
	<dict>
		<key></key>
		<string></string>
		<key>ACTIVE</key>
		<string></string>
		<key>ID</key>
		<string>1055</string>
		<key>NAME</key>
		<string>MILITARY&amp;RESERVE</string>
	</dict>
	<dict>
		<key></key>
		<string></string>
		<key>ACTIVE</key>
		<string></string>
		<key>ID</key>
		<string>1057</string>
		<key>NAME</key>
		<string>STADIUM</string>
	</dict>
	<dict>
		<key></key>
		<string></string>
		<key>ACTIVE</key>
		<string></string>
		<key>ID</key>
		<string>1058</string>
		<key>NAME</key>
		<string>SHORELINEPERREN</string>
	</dict>
	<dict>
		<key></key>
		<string></string>
		<key>ACTIVE</key>
		<string></string>
		<key>ID</key>
		<string>1059</string>
		<key>NAME</key>
		<string>RRSTATION</string>
	</dict>
	<dict>
		<key></key>
		<string></string>
		<key>ACTIVE</key>
		<string></string>
		<key>ID</key>
		<string>1060</string>
		<key>NAME</key>
		<string>SHOPPINGCTR</string>
	</dict>
	<dict>
		<key></key>
		<string></string>
		<key>ACTIVE</key>
		<string></string>
		<key>ID</key>
		<string>1061</string>
		<key>NAME</key>
		<string>HOSPITAL</string>
	</dict>
	<dict>
		<key></key>
		<string></string>
		<key>ACTIVE</key>
		<string></string>
		<key>ID</key>
		<string>1062</string>
		<key>NAME</key>
		<string>EMPLOYMENTCTR</string>
	</dict>
	<dict>
		<key></key>
		<string></string>
		<key>ACTIVE</key>
		<string></string>
		<key>ID</key>
		<string>1063</string>
		<key>NAME</key>
		<string>CAMPGROUND</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1064</string>
		<key>NAME</key>
		<string>FEDERALLAND</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1069</string>
		<key>NAME</key>
		<string>NATNLGRASSLAND</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1070</string>
		<key>NAME</key>
		<string>WILDLIFEREFUGE</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1071</string>
		<key>NAME</key>
		<string>NATNLSEASHORE</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1072</string>
		<key>NAME</key>
		<string>WILDERNESSAREA</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1073</string>
		<key>NAME</key>
		<string>RESERVOIR</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1074</string>
		<key>NAME</key>
		<string>MARSH</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1075</string>
		<key>NAME</key>
		<string>GLACIER</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1078</string>
		<key>NAME</key>
		<string>RUNWAY</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1547</string>
		<key>NAME</key>
		<string>AIRPORT</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1548</string>
		<key>NAME</key>
		<string>PARK</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1549</string>
		<key>NAME</key>
		<string>STATEPARK</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1550</string>
		<key>NAME</key>
		<string>NATIONALPARK</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1552</string>
		<key>NAME</key>
		<string>COUNTY</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1553</string>
		<key>NAME</key>
		<string>STATE</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1554</string>
		<key>NAME</key>
		<string>COUNTRY</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1587</string>
		<key>NAME</key>
		<string>AIRPORT</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1588</string>
		<key>NAME</key>
		<string>PARK</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1589</string>
		<key>NAME</key>
		<string>STATEPARK</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1590</string>
		<key>NAME</key>
		<string>NATIONALPARK</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1606</string>
		<key>NAME</key>
		<string>STATECAP1</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1607</string>
		<key>NAME</key>
		<string>STATECAP2</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1608</string>
		<key>NAME</key>
		<string>STATECAP3</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1609</string>
		<key>NAME</key>
		<string>STATECAP4</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1610</string>
		<key>NAME</key>
		<string>STATECAP5</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1611</string>
		<key>NAME</key>
		<string>STATECAP6</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1612</string>
		<key>NAME</key>
		<string>COUNTRYCAP1</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1613</string>
		<key>NAME</key>
		<string>COUNTRYCAP2</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1614</string>
		<key>NAME</key>
		<string>COUNTRYCAP3</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1615</string>
		<key>NAME</key>
		<string>COUNTRYCAP4</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1616</string>
		<key>NAME</key>
		<string>COUNTRYCAP5</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1617</string>
		<key>NAME</key>
		<string>COUNTRYCAP6</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1700</string>
		<key>NAME</key>
		<string>CAMPGROUND</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1703</string>
		<key>NAME</key>
		<string>RELIGIOUSINST</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1704</string>
		<key>NAME</key>
		<string>COUNTYHOME</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1706</string>
		<key>NAME</key>
		<string>EMPLOYMENTCTR</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1707</string>
		<key>NAME</key>
		<string>FEDERALLAND</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1718</string>
		<key>NAME</key>
		<string>CHAMBERCOMMERCE</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1719</string>
		<key>NAME</key>
		<string>COUNTYSEAT1</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1720</string>
		<key>NAME</key>
		<string>COUNTYSEAT2</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1721</string>
		<key>NAME</key>
		<string>COUNTYSEAT3</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1722</string>
		<key>NAME</key>
		<string>COUNTYSEAT4</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1723</string>
		<key>NAME</key>
		<string>COUNTYSEAT5</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1724</string>
		<key>NAME</key>
		<string>COUNTYSEAT6</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1725</string>
		<key>NAME</key>
		<string>DAM</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1726</string>
		<key>NAME</key>
		<string>FIREHOUSE</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1727</string>
		<key>NAME</key>
		<string>NATGRASSLAND</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1728</string>
		<key>NAME</key>
		<string>WILDLIFEREFUGE</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1729</string>
		<key>NAME</key>
		<string>NATPARKSERVICE</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1730</string>
		<key>NAME</key>
		<string>NATSEASHORE</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1731</string>
		<key>NAME</key>
		<string>WILDERNESSAREA</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1732</string>
		<key>NAME</key>
		<string>INDIANRESERV</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1733</string>
		<key>NAME</key>
		<string>POLICESTATION</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1734</string>
		<key>NAME</key>
		<string>POSTOFFICE</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1735</string>
		<key>NAME</key>
		<string>MARSH</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1750</string>
		<key>NAME</key>
		<string>BUSTERMINAL</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1751</string>
		<key>NAME</key>
		<string>TRAINSTATION</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1752</string>
		<key>NAME</key>
		<string>SCHOOL</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1753</string>
		<key>NAME</key>
		<string>HOSPITAL</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1754</string>
		<key>NAME</key>
		<string>MONUMENT</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1755</string>
		<key>NAME</key>
		<string>MARINA</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1756</string>
		<key>NAME</key>
		<string>STADIUM</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1757</string>
		<key>NAME</key>
		<string>CONVENTIONCTR</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1758</string>
		<key>NAME</key>
		<string>CIVICCTR</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1759</string>
		<key>NAME</key>
		<string>FERRYPLAZA</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1760</string>
		<key>NAME</key>
		<string>MUSEUM</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1761</string>
		<key>NAME</key>
		<string>LIBRARY</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1763</string>
		<key>NAME</key>
		<string>CITYHALL</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1764</string>
		<key>NAME</key>
		<string>COURTHOUSE</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1765</string>
		<key>NAME</key>
		<string>RESTAREA</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1770</string>
		<key>NAME</key>
		<string>TOURISTATT</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1774</string>
		<key>NAME</key>
		<string>BANK</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1775</string>
		<key>NAME</key>
		<string>THEATER</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1708</string>
		<key>NAME</key>
		<string>PRISON</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1709</string>
		<key>NAME</key>
		<string>GOVERNMENTCTR</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1711</string>
		<key>NAME</key>
		<string>MILITARYINSTALL</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1712</string>
		<key>NAME</key>
		<string>NURSINGHOME</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1713</string>
		<key>NAME</key>
		<string>ORPHANAGE</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>1714</string>
		<key>NAME</key>
		<string>SHELTERMISSION</string>
	</dict>
	<dict>
		<key>ID</key>
		<string> </string>
		<key>NAME</key>
		<string></string>
	</dict>
</array>
</plist>
