<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Shapes</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport (shape)</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1047</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Park (shape)</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1048</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1049</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1050</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1055</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1061</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1061</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1547</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1548</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1549</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1550</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1587</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1588</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1589</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1590</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1606</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1607</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1608</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1609</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1610</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1611</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1612</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Airport</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Key</key>
			<string>category_1613</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
